In [1]:
import numpy as np
import pandas as pd

In [5]:
data=pd.read_excel(r'C:\Users\01\Desktop\【】NLP\[02]learning-file-100days\data.xlsx')
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [9]:
X=data.iloc[:,:-1].values
Y=data.iloc[:,3].values

In [11]:
from sklearn.preprocessing import Imputer
imputer=Imputer(missing_values="NaN", strategy="mean", axis=0)
imputer=imputer.fit(X[:,1:3])
X[:,1:3]=imputer.transform(X[:,1:3])
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [16]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X=LabelEncoder()
X[:,0]=labelencoder_X.fit_transform(X[:,0])
onehotencoder=OneHotEncoder(categorical_features=[0])
X=onehotencoder.fit_transform(X).toarray()
labelencoder_Y=LabelEncoder()
Y=labelencoder_Y.fit_transform(Y)

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1], dtype=int64)

In [17]:
from sklearn.cross_validation import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X , Y , test_size = 0.2, random_state = 0)

In [18]:
# Feature Scaling，对数据进行特征缩放
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

In [26]:
from pandas.core.frame import DataFrame
X_train=DataFrame(X_train)
X_train

     0    1    2         3         4         5         6
0 -1.0  1.0 -1.0  2.645751 -0.774597  0.263068  0.123815
1  1.0 -1.0  1.0 -0.377964 -0.774597 -0.253501  0.461756
2 -1.0  1.0 -1.0 -0.377964  1.290994 -1.975398 -1.530933
3 -1.0  1.0 -1.0 -0.377964  1.290994  0.052614 -1.111420
4  1.0 -1.0  1.0 -0.377964 -0.774597  1.640585  1.720297
5 -1.0  1.0 -1.0 -0.377964  1.290994 -0.081312 -0.167514
6  1.0 -1.0  1.0 -0.377964 -0.774597  0.951826  0.986148
7  1.0 -1.0  1.0 -0.377964 -0.774597 -0.597881 -0.482149

In [27]:
X_test=DataFrame(X_test)
X_test

     0    1    2    3    4    5    6
0  0.0  0.0  0.0  0.0  0.0 -1.0 -1.0
1  0.0  0.0  0.0  0.0  0.0  1.0  1.0